<footer class="footer-custom text-light pt-5 pb-3 mt-auto">
    <div class="container text-center text-md-start">
        <div class="row g-4 g-md-5">

            <div class="col-lg-4 col-md-12 mb-2 mb-md-0">
                <h3 class="fw-bold mb-3 font-playfair text-white">Luvia Lukka</h3>
                <p class="small text-light-50 lh-lg mb-4 mx-auto mx-md-0" style="max-width: 300px;">
                    Zarafetin ve şıklığın yeni adresi. Özel tasarım abiyeler, haute couture parçalar ve seçkin koleksiyonlarımızla en özel günlerinizde yanınızdayız.
                </p>

                <h6 class="text-uppercase fw-semibold mb-3 text-gold">Bizi Takip Edin</h6>
                <div class="d-flex gap-3 justify-content-center justify-content-md-start social-links">
                    <a href="https://www.instagram.com/beyogluabiye/" class="social-icon" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.instagram.com/beyogluabiye/" class="social-icon" title="X (Twitter)"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/beyogluabiye/" class="social-icon" title="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/beyogluabiye/" class="social-icon" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6">
                <h6 class="text-uppercase fw-bold mb-3 mb-md-4 text-gold border-bottom border-secondary pb-2 d-inline-block">Koleksiyonlar</h6>
                <ul class="list-unstyled footer-links small">
                    <li class="mb-2"><a href="\Favoriler">Favorilerim</a></li>
                    <li class="mb-2"><a href="\Kategoriler\Index\6">Özel Tasarım Abiyeler</a></li>
                    <li class="mb-2"><a href="\Kampanyalar">Kampanyalar</a></li>
                    <li class="mb-2"><a href="\Home\KargoTakip">Kargo Takip</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6">
                <h6 class="text-uppercase fw-bold mb-3 mb-md-4 text-gold border-bottom border-secondary pb-2 d-inline-block">Kurumsal</h6>
                <ul class="list-unstyled footer-links small">
                    <li class="mb-2"><a href="\Home\Hakkimizda">Hakkımızda</a></li>
                    <li class="mb-2"><a href="\Home\TeslimatIade">Teslimat ve İade</a></li>
                    <li class="mb-2"><a href="\Home\Kvkk">KVKK</a></li>
                    <li class="mb-2"><a href="\Home\ContactUs">İletişim</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12">
                <h6 class="text-uppercase fw-bold mb-4 text-gold border-bottom border-secondary pb-2 d-inline-block">Mağaza İletişim</h6>
                <ul class="list-unstyled contact-info d-flex flex-column align-items-center align-items-md-start">
                    <li class="d-flex align-items-start mb-3 justify-content-center justify-content-md-start text-start">
                        <i class="fa-solid fa-location-dot mt-1 me-3 fs-5 text-gold"></i>
                        <div>
                            <span class="d-block fw-bold text-white mb-1">Merkez Showroom</span>
                            <span class="text-light-50 small">Osmanağa Mah. Söğütlüçeşme Cad.<br />No: 123/A Kadıköy, İstanbul</span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center mb-3">
                        <i class="fa-solid fa-phone me-3 fs-5 text-gold"></i>
                        <a href="tel:+905551234567" class="text-light-50 text-decoration-none hover-gold">+90 (546) 957 03 06</a>
                    </li>
                    <li class="d-flex align-items-center">
                        <i class="fa-solid fa-envelope me-3 fs-5 text-gold"></i>
                        <a href="mailto:info@luvialukka.com" class="text-light-50 text-decoration-none hover-gold">info@luvialukka.com</a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row align-items-center border-top border-secondary mt-5 pt-4 pb-2 text-center text-md-start">
            <div class="col-12 text-light-50 small">
                &copy; 2026 Luvia Lukka. Tüm Hakları Saklıdır. | Yapay Zeka Entegreli E - Ticaret Sitesi
            </div>
        </div>
    </div>
</footer>