@using Tasarim.Core.Entities
@model Kampanya

<div class="col mb-5">
    <div class="card h-100 shadow-sm border-0">
        <a href="/Kampanyalar/Details/@Model.ID">
            <img class="card-img-top p-3"
                 src="~/img/@Model.KampanyaResmi"
                 alt="@Model.KampanyaAd"
                 style="height: 250px; object-fit: contain; width: 100%;">
        </a>
    </div>
</div>